@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 16px;
    background: #fff;
    box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
}

.menu-bar {
    display: flex;
    position: relative
}

.close-menu {
    position: absolute;
    right: 8px;
    display: none;
}

.landing-page-modals {
    background: #fff;
    display: none;
    position: fixed;
    left: 0;
    top: 10%;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mobile-nav-item {
    padding: 27px 16px;
    box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
}

.mobile-nav-item a {
    text-decoration: none;
    color: #000000;
}

.hero {
    padding: 0 16px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    text-align: center;
    color: #0C0114;
    font-weight: 400;
    font-size: 60px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -0.06em;
}

.hero form {
    display: flex;
    margin-top: 32px;
    position: relative;
}

.hero form img {
    position: absolute;
    left: 4.5%;
    top: 40%;
}

.hero form input {
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background: #DBDBDB;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 21px 38px;
    letter-spacing: -0.04em;
    color: #BABABA;
}

.hero form button {
    background: #3E0563;
    border-radius: 4px;
    color: #fff;
    padding: 22px 24px;
}

.hero .categories {
    display: flex;
    margin-top: 33px;
}

.hero .categories p {
    margin-right: 11px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #0C0114;
}

.target-section {
    background: url("../images/landing-page/target-background.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #1F0231;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.target-section h2 {
    padding-top: 40px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 0 87px 0;
}

.card {
    border: 2px solid #9E82B1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 39px;
}

.card img {
    width: 95px;
    margin-bottom: 18px;
}

.card p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.connected-awards-section {
    display: flex;
    flex-direction: column;
    background: url("../images/landing-page/logo-right.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.award-img {
    width: 100%;
    margin-top: 41px;
}

.award-img img {
    width: 100%;
}

.award-content,
.edition-content {
    margin-top: 32px;
    padding: 0 16px;
}

.award-content h2,
.edition-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #0C0114;
    border-bottom: 5px solid #FA9706;
    padding-bottom: 20px;
}

.award-content p,
.edition-content p {
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.award-content button,
.edition-content button {
    margin-top: 32px;
    color: #fff;
    background: #3E0563;
    border-radius: 4px;
    font-weight: 600;
    border: 0;
    padding: 16px 24px;
    margin-bottom: 300px;
}

.past-edition-section {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background: url("../images/landing-page/logo-left.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 180px;
}

.edition-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.edition-image {
    width: 100%;
}

.edition-image img {
    width: 190px;
}

.talent-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 40px 16px;
}

.talent-card {
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 24px;
}

.talent-card-content {
    text-align: center;
    padding: 36px 0;
}

.talent-card-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #3E0563;
}

.talent-card-content p {
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

footer {
    background: url("../images/landing-page/landing-footer-background.svg");
    background-repeat: no-repeat;
    background-color: #1F0231;
    padding: 55px 32px;
    color: #fff;
}

footer nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

footer nav ul li {
    margin-top: 24px;
}

.nav-header a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FA9706;
    text-decoration: none;
}

.footer-list a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    margin-top: 80px;
}

.footer-info p {
    margin-top: 12px;
}

.footer-logo-info p {
    text-transform: uppercase;
    margin-top: 12px;
}

@media (max-width:414px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
}

@media (min-width:1440px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .btn {
        border: 0;
        padding: 16px 24px;
        background: #3E0563;
    }
    .login {
        background: #EEE8F2;
        border-radius: 4px;
        text-decoration: none;
    }
    .create {
        margin-left: 32px;
        color: #fff;
        background: #3E0563;
        border-radius: 4px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu-bar {
        display: none;
    }
    .hero {
        padding: 67px 40px 141px;
    }
    .hero h1 {
        font-size: 96px;
        line-height: 115px;
    }
    .hero form {
        margin-top: 25px;
    }
    .hero form img {
        left: 5%;
        top: 40%;
    }
    .hero form input {
        width: 660px;
        padding: 21px 72px;
        background: #fff;
    }
    .hero form button {
        padding: 21px 52px;
        margin-left: 20px;
    }
    .target-section h2 {
        font-size: 48px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding: 87px 80px 201px 80px;
    }
    .card img {
        width: 160px;
    }
    .card p {
        font-size: 24px;
        margin-top: 24px;
    }
    .connected-awards-section {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding: 80px;
    }
    .award-img img {
        width: 550px;
    }
    .award-content {
        margin-top: 32px;
        padding: 0 200px 0 150px;
    }
    .award-content h2,
    .edition-content h2 {
        font-size: 36px;
    }
    .past-edition-section {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        justify-content: space-between;
        padding: 80px;
    }
    .edition-content {
        margin-top: 32px;
        padding-right: 400px;
    }
    .talent-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 80px;
    }
    .talent-card-content h2 {
        font-size: 36px;
        line-height: 43px;
        color: #3E0563;
    }
    .talent-card-content p {
        color: #0C0114;
    }
    footer nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 120px;
    }
}