    button {
        border: 0;
        padding: 16px 24px;
        background: var(--button-primary);
        border-radius: 4px;
        font-weight: 600;
    }
    
    .buttons {
        display: flex;
        padding: 0;
        margin: 0;
    }
    
    .btn {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
    
    .login {
        background: var(--button-secondary);
    }
    
    .login a {
        color: var(--color-primary);
    }
    
    .create {
        margin-left: 32px;
    }
    
    .connected-button {
        padding: 16px 32px;
        margin-left: 0;
    }