.category .page-header {
    text-align: center;
    margin: 56px 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category .page-header h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.category .page-header form {
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 32px;
    position: relative;
}

.category .page-header form img {
    position: absolute;
    left: 4.5%;
    top: 30%;
}

.category .page-header form input {
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    background: #DBDBDB;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 21px 38px;
    letter-spacing: -0.04em;
    color: #BABABA;
    margin-bottom: 0;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
    border-radius: 8px;
}

.category-card img {
    margin-bottom: 24px;
}

.category-arrow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
    margin-top: 34px;
    margin-right: -150px;
}

@media (max-width:480px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .user-info {
        visibility: hidden;
    }
    .category-arrow-right {
        margin-right: -120px;
    }
}

@media (min-width:481px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .user-info {
        visibility: hidden;
    }
}

@media (min-width:769px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .user-info {
        visibility: hidden;
    }
}

@media (min-width:1025px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: hidden;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .user-info {
        visibility: visible;
        display: flex;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0C0114;
        margin-right: 20px;
    }
    .points {
        display: flex;
        margin-right: 24px;
        padding: 0 30px;
        align-items: center;
    }
    .points img {
        margin-right: 10px;
    }
    .user {
        display: flex;
        align-items: center;
        padding: 7px 30px;
        border-left: 1px solid #DBDBDB;
    }
    .user img {
        margin: 8px;
    }
}

@media (min-width:1201px) {
    .category .page-header {
        padding: 17px 40px 41px;
    }
    .category .page-header h1 {
        font-size: 96px;
        line-height: 115px;
    }
    .category.page-header form {
        margin-top: 25px;
    }
    .category .page-header form img {
        left: 5%;
        top: 40%;
    }
    .category .page-header form input {
        width: 660px;
        padding: 21px 20px;
        background: #fff;
    }
    .category .page-header form button {
        padding: 21px 52px;
        margin-left: 20px;
    }
}

@media (min-width:1440px) {
    .category-card p {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #0C0114;
    }
}