.celebrated-techies .page-header {
    margin: 30px 0 0 0;
}

.celebrated-techies-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 24px;
}

.celebrated-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
    border-radius: 8px;
}

.celebrated-card p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 11px;
}

.celebrated-card small {
    color: purple;
}

@media (max-width:480px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .user-info {
        visibility: hidden;
    }
}

@media (min-width:481px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
}

@media (min-width:769px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .celebrated-techies-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1025px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .menu-bar {
        display: none;
    }
    .user-info {
        visibility: visible;
        display: flex;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #0C0114;
        margin-right: 20px;
    }
    .points {
        display: flex;
        margin-right: 24px;
        padding: 0 30px;
        align-items: center;
    }
    .points img {
        margin-right: 10px;
    }
    .user {
        display: flex;
        align-items: center;
        padding: 7px 30px;
        border-left: 1px solid #DBDBDB;
    }
    .user img {
        margin: 8px;
    }
}

@media (min-width:1201px) {
    .celebrated-techies-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:1440px) {
    .celebrated-techies-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}