.celebrated-techies .page-header {
    margin: 30px 0 0 0;
}

.celebrated-techies-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 24px;
}

.celebrated-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #FFF;
    box-shadow: var(--box-shadow-secondary);
    border-radius: 8px;
}

.celebrated-card p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 11px;
}

.celebrated-card small {
    color: var(--button-primary);
}

@media (min-width:769px) {
    .celebrated-techies-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1201px) {
    .celebrated-techies-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}