.connected-awards-container {
    padding: 70px 24px;
}

.connected-awards-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.connected-awards-body h1 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: start;
    letter-spacing: -0.04em;
    color: #0C0114;
}

.connected-awards-body p {
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.connected-awards-content img {
    width: 366px;
}

@media (max-width:480px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .login {
        display: none;
    }
    .connected-button {
        visibility: visible;
    }
}

@media (min-width:481px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .connected-button {
        visibility: visible;
    }
}

@media (min-width:769px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
}

@media (min-width:1025px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .menu-bar {
        display: none;
    }
}

@media (min-width:1201px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .menu-bar {
        display: none;
    }
}

@media (min-width:1440px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .connected-awards-container {
        padding: 80px;
    }
    .connected-awards-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px;
    }
    .connected-awards-body {
        padding-right: 145px;
    }
    .connected-awards-body h1 {
        font-size: 48px;
    }
    .connected-awards-body p {
        padding-right: 100px;
    }
    .connected-awards-content img {
        width: 550px;
    }
    footer nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 120px;
    }
}