.connected-awards-container {
    padding: 70px 24px;
}

.connected-awards-container .page-header {
    margin: 30px 0;
}

.connected-awards-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.connected-awards-img img {
    width: 100%;
}

.connected-awards-body {
    padding: 20px;
}

.connected-awards-content h1 {
    margin-top: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: start;
    letter-spacing: -0.04em;
    color: #0C0114;
}

.connected-awards-content p {
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom: 30px;
}

.connected-awards-body img {
    width: 100%;
}

@media (max-width:480px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .login {
        display: none;
    }
    .connected-button {
        visibility: visible;
    }
}

@media (min-width:481px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .connected-button {
        visibility: visible;
    }
}

@media (min-width:769px) {
    header nav,
    .buttons {
        visibility: hidden;
    }
    .connected-awards-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
    }
    .connected-awards-content p {
        padding-right: 40px;
    }
    .awards-body-img {
        width: 100%;
        margin-top: 10px;
    }
    .awards-body-img img {
        width: 300px;
    }
}

@media (min-width:1025px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .connected-awards-content {
        padding-right: 145px;
    }
    .connected-awards-content h1 {
        font-size: 38px;
        line-height: 56px;
    }
    .connected-awards-content p {
        padding-right: 10px;
    }
    .awards-body-img img {
        width: 400px;
    }
}

@media (min-width:1201px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .connected-button {
        padding: 16px 32px;
        margin-left: 32px;
    }
    .awards-body-img img {
        width: 500px;
    }
}

@media (min-width:1440px) {
    header {
        padding: 20px 60px;
    }
    header nav,
    .buttons {
        visibility: visible;
    }
    .nav-lists {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-item {
        margin-left: 30px;
    }
    .nav-item a {
        text-decoration: none;
        color: #0C0114;
    }
    .connected-awards-container {
        padding: 80px;
    }
    .connected-awards-content {
        padding-right: 145px;
    }
    .connected-awards-content h1 {
        font-size: 50px;
        line-height: 56px;
    }
    .connected-awards-content p {
        padding-right: 100px;
        font-size: 20px;
    }
    .awards-body-img {
        margin-top: 20px;
    }
    .awards-body-img img {
        width: 600px;
    }
}