.future-edition-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 32px 16px;
    gap: 24px;
}

.future-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 29px;
    background: #FFF;
    box-shadow: var(--box-shadow-secondary);
    border-radius: 8px;
}

.future-card p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-primary);
    text-align: center;
}

.future-card button {
    margin-top: 57px;
    width: 100%;
}

@media (min-width:1201px) {
    .future-edition-cards {
        grid-template-columns: repeat(4, 1fr);
        padding: 64px 80px;
    }
}

@media (min-width:1440px) {
    .future-card {
        padding: 32px;
    }
    .future-card p {
        font-size: 18px;
    }
}