.sign-up-terms {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 32px;
}

.sign-up-terms a {
    color: #FA9706;
    text-decoration: none;
}

.login-forget-password {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-top: 32px;
    color: #3E0563;
    text-decoration: none;
}

@media (min-width:1440px) {
    .register {
        background: url("/images/landing-page/landing-footer-background.svg");
        background-repeat: repeat;
        background-color: #1F0231;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .register-container {
        width: 547px;
        padding: 36px 40px;
    }
    .register-header {
        margin-bottom: 31px;
    }
    .sign-up-terms {
        margin-bottom: 24px;
    }
}